<!doctype html>
<html lang="en">
    <style>
        @keyframes blink {
            50% { opacity: 0; }
        }
    </style>
    <style>
        html{
            background-color: #68D2E8;
        }
        body{
            background-color: #68D2E8;
        }
    


        .headstyle {
            color: rgb(255, 255, 255);
            font-variant: petite-caps;
            background-color: rgb(0, 0, 0, 0.8);
            margin-bottom: 0px
        }
        /* Custom CSS to change the color of carousel arrows */
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
           background-color: rgb(255, 255, 255); /* Change to your desired color */
        }

    
        .divstyle {
            border-radius: 10px 10px 10px 10px;
            margin-left: 1px;
            margin-right: 1px
        }
        .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the container takes up the full height of its parent */
}

    </style>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="static/styles.css" type="stylesheet">

    <title>HealthPoint</title>
</head>

<body style="background-color: #68D2E8;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
				<b><a class="navbar-brand" href="/">Health<span style="color: aqua; ">Point</span> </a></b>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">

								<li class="nav-item">
										<a class="nav-link " aria-current="page" href="/covid">Covid</a>
								</li>

								<li class="nav-item">
										<a class="nav-link " aria-current="page" href="/braintumor">Brain Tumor</a>
								</li>

								<li class="nav-item">
										<a class="nav-link " aria-current="page" href="/breastcancer">Breast Cancer</a>
								</li>
								<li class="nav-item">
									<a class="nav-link " aria-current="page" href="/diabetes">Diabetes</a>
							</li>


								<li class="nav-item">
										<a class="nav-link " aria-current="page" href="/pneumonia">Pneumonia</a>
								</li>

								<li class="nav-item">
										<a class="nav-link " aria-current="page" href="/heartdisease">Heart Disease</a>
								</li>

                                <li class="nav-item">
                                    <a class="nav-link " aria-current="page" href="#booking">Appointment Booking</a>
                            </li>

                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/admin_login">
                                        <button class="btn btn-outline-info btn-sm" >Admin Login</button>
                                    </a>
                                </li>
                                
						</ul>
				</div>
		</div>
</nav>



<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href='#booking'><img src="static/home.png" class="d-block w-100" alt="..." style='height: 350px'></a>
        </div>
        <div class="carousel-item">
            <a href='/covid'><img src="static/covid.png" class="d-block w-100" alt="..." style='height: 350px'></a>
        </div>
        <div class="carousel-item">
            <a href='/diabetes'><img src="static/diabetes.png" class="d-block w-100" alt="..." style='height: 350px'></a>
        </div>
        <div class="carousel-item">
            <a href='/breastcancer'><img src="static/breastcancer.png" class="d-block w-100" alt="..." style='height: 350px'></a>
        </div>
        <div class="carousel-item">
            <a href='/heartdisease'><img src="static/heart.png" class="d-block w-100" alt="..." style='height: 350px'></a>
        </div>
        <div class="carousel-item">
            <a href='/braintumor'><img src="static/brain.png" class="d-block w-100" alt="..." style='height: 350px'></a>
        </div>
        <div class="carousel-item">
            <a href='/pneumonia'><img src="static/pne.png" class="d-block w-100" alt="..." style='height: 350px'></a>
        </div>
    </div>
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"></li>
    </ol>
</div>



<div style="padding: 50px;background: linear-gradient(to bottom, #bce4f4, white);
color: black;">

    <div style="
color:#153448">
        
            
            <div class="row py-3" style='
border-radius: 0px 0px 10px 10px;margin-left:1px;margin-right:1px'>
                <div class="col">
                    <img src="../static/docvector.png" class="img-fluid rounded mx-auto d-block" alt="...">
                </div>

                <div class="col">
                    <h1 class='text-center py-3' style="color: #333; font-family: 'Open Sans', sans-serif; font-size: 48px; font-weight: bold; ;
 border-radius: 20px 20px 0 0; margin: 0;">
                        <span id="welcome-text"></span><span id="cursor" style="animation: blink 1s infinite;">.</span>
                    </h1>
                    <h5 class="text-left" style="color: black; font-family: 'Open Sans', sans-serif; font-size: 18px; margin: 20px; line-height: 1.5;">
                        Your gateway to personalized healthcare solutions! Empowering you with advanced diagnostics, convenient appointments, and expert guidance for a healthier tomorrow. Let's embark on this journey together towards better health and well-being. Start exploring our integrated platform now!
                    </h5>
                </div>

                
            
        </div>
    </div>
    </div>
    
    
    


   
    

    

    
    
    <div class="wave-border top" style="height: 200px;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%; background: white;
">
          <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #20648c;"></path>
        </svg>
      </div>
     
      <div style="background-color: #20648c; ">
      <!-- <h1 class='text-center py-3' style="color:rgb(0, 0, 0); padding: 0; margin: 0; border: 0; font-size:xx-large; font-variant: petite-caps; margin-top: 0; margin-bottom: 0; text-shadow: 2px 2px 1px rgba(0.5,0.5,0.5,0.5);">
        <b><i>Health<span style="color: aqua;">Point</span></i></b>
      </h1> -->
      
      


      <div class="container-fluid" style="width: 70%; background-color: #20648c;" >
        <div class='divstyle' style='margin:0px 20px 60px 20px'>
            <div class="row py-3">
                <div class="col-md-4"> <!-- Change col md-3 to col-md-4 for each column -->
                    <h3 class='text-center py-3 headstyle' style="font-size: 18px;"><b>Covid Detection</b></h3>
                    <a href="./covid"><img src="../static/icons/covid.jpg" class="img-fluid mx-auto d-block"></a>
                </div>
                <div class="col-md-4"> <!-- Change col md-3 to col-md-4 for each column -->
                    <h3 class='text-center py-3 headstyle' style="font-size: 18px;"><b>Brain Tumor Detection</b></h3>
                    <a href="./braintumor"><img src="../static/icons/braintumor.png" class="img-fluid mx-auto d-block"></a>
                </div>
                <div class="col-md-4"> <!-- Change col md-3 to col-md-4 for each column -->
                    <h3 class='text-center py-3 headstyle' style="font-size: 18px;"><b>Breast Cancer Detection</b></h3>
                    <a href="./breastcancer"><img src="../static/icons/breastcancer.png" class="img-fluid mx-auto d-block"></a>
                </div>
            </div>
        </div>
    
        <div class='divstyle' style='margin:40px 20px 0px 20px'>
            <div class="row py-3">
                <div class="col-md-4"> <!-- Change col md-3 to col-md-4 for each column -->
                    <h3 class='text-center py-3 headstyle' style="font-size: 18px;"><b>Diabetes Detection</b></h3>
                    <a href="./diabetes"><img src="../static/icons/diabetes.png" class="img-fluid mx-auto d-block"></a>
                </div>
                <div class="col-md-4"> <!-- Change col md-3 to col-md-4 for each column -->
                    <h3 class='text-center py-3 headstyle' style="font-size: 18px;"><b>Pneumonia Detection</b></h3>
                    <a href="./pneumonia"><img src="../static/icons/pneumonia.png" class="img-fluid mx-auto d-block"></a>
                </div>
                <div class="col-md-4"> <!-- Change col md-3 to col-md-4 for each column -->
                    <h3 class='text-center py-3 headstyle' style="font-size: 18px;"><b>Heart Disease Detection</b></h3>
                    <a href="./heartdisease"><img src="../static/icons/heartdisease.png" class="img-fluid mx-auto d-block"></a>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="wave-border top" style="background-color: #20648c; height: 270px;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: #153448"></path>
    </svg>
</div>
            

 <div id="booking" style="background-color: #153448; margin: 0px 0px;">
    <div style='margin: 0 auto; width: 65%;'>
        <h1 class='text-center py-3' style="color: rgb(255, 255, 255); font-size: 40px; font-variant: petite-caps; background-color: rgba(0, 0, 0, 0.8); border-radius: 20px 20px 0px 0px; margin-bottom: 0px;"><b><i>Book a Consultation</i></b></h1>
        <div class="row py-3" style='background-color: rgb(0, 154, 163); border-radius: 0px 0px 10px 10px; margin-left: 1px; margin-right: 1px;'>
            <div class="col">
                <p class="text-left" style='font-size: 18px; color: white;'>
                    Consult with our specialists about COVID, Brain Tumor, Breast Cancer, Heart Disease, or Pneumonia.
                </p>
                <div style='margin: 0px 20px 60px 20px;'>
                    <form action="/book_appointment" method="post" class="main-form needs-validation">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="firstname" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="firstname" name="firstname" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="lastname" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="lastname" name="lastname" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Phone Number</label>
                                    <input type="tel" class="form-control" id="phone" name="phone" required>
                                    <small class="form-text text-muted">* Include your area code</small>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Your Email</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="consultation" class="form-label">Consultation (Dept./ illness)</label>
                                    <textarea class="form-control" id="consultation" name="consultation" rows="1" required></textarea>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="date" class="form-label">Preferred Date</label>
                                            <input type="date" class="form-control" id="date" name="date" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="time" class="form-label">Preferred Time</label>
                                            <input type="time" class="form-control" id="time" name="time" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary book-appointment" style="width: 20%; margin-top: 30px; background-color: #007bff; border-color: #007bff; color: #fff;" onmouseover="this.style.backgroundColor='#0056b3'; this.style.borderColor='#0056b3';" onmouseout="this.style.backgroundColor='#007bff'; this.style.borderColor='#007bff';">Book Appointment</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wave-border right" style="height: 270px;"> <!-- Changed class to 'right' to reflect the opposite direction -->
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%; background-color:#68D2E8">
      <path d="M0,75 Q125,112.5 250,75 Q375,37.5 500,75 L500,0 L0,0 Z" style="stroke: none; fill: #153448;"></path>
    </svg>
  </div>
  


<div style="background-color: #68D2E8;color:#153448">
    <div style='margin:0px 20px 0px 20px'>
        <h1 class='text-center py-3' style="color: #153448;font-size: 40px;font-variant: petite-caps;background-color: #68D2E8;border-radius: 20px 20px 0px 0px;margin:0px 0px"><b><i>Machine Learning</i></b></h1>
        <div class="row py-3" style='background-color: #68D2E8;border-radius: 0px 0px 10px 10px;margin-left:1px;margin-right:1px'>
            <div class="col">
                <img src="../static/ml.png" class="img-fluid rounded mx-auto d-block" alt="...">
            </div>
            <div class="col">
                <p class="text-left" style='font-size: 17px; color: #153448; margin-left: 20px; margin-right: 20px; text-align: justify;'>
                    Machine learning is one of the most common forms of artificial intelligence in healthcare. It is a
                    broad technique at the core of many approaches to AI and healthcare technology and there are many
                    versions of it.
                
                    Using artificial intelligence in healthcare, the most widespread utilization of traditional machine
                    learning is precision medicine. Being able to predict what treatment procedures are likely to be
                    successful with patients based on their make-up and the treatment framework is a huge leap forward
                    for many healthcare organizations. The majority of AI in healthcare that uses machine learning and
                    precision medicine applications require data for training, for which the end result is known. This
                    is known as supervised learning.
                
                    Artificial intelligence in healthcare that uses deep learning is also used for speech recognition
                    in the form of natural language processing (NLP). Features in deep learning models typically have
                    little meaning to human observers and therefore the model's results may be challenging to delineate
                    without proper interpretation.
                </p>
                
            </div>
        </div>
    </div>
</div>

<div style='margin:0px 20px 0px 20px;background-color: #68D2E8'>
    <h1 class='text-center py-3' style="color: #153448;font-size: 40px;font-variant: petite-caps;background-color:#68D2E8; ;border-radius: 0px 20px 0px 0px;margin-bottom:0px"><b><i>AI in HealthCare</i></b></h1>
    <div class="row py-3" style='background-color: #68D2E8;border-radius: 0px 0px 10px 10px;margin-left:1px;margin-right:1px'>
        <div class="col" >
            <p class="text-left" style='font-size:18px; text-align: justify;color:#153448'>
                The artificial intelligence (AI) technologies becoming ever present in modern business and everyday
                life is
                also steadily being applied to healthcare. The use of artificial intelligence in healthcare has the
                potential to assist healthcare providers in many aspects of patient care and administrative
                processes. Most
                AI and healthcare technologies have strong relevance to the healthcare field, but the tactics they
                support
                can vary significantly. And while some articles on artificial intelligence in healthcare suggest
                that the
                use of artificial intelligence in healthcare can perform just as well or better than humans at
                certain
                procedures, such as diagnosing disease, it will be a significant number of years before AI in
                healthcare
                replaces humans for a broad range of medical tasks.
            </p>
        </div>
        <div class="col">
            <img src="../static/aiinhealth.png" class="img-fluid rounded mx-auto d-block" alt="...">
        </div>

    </div>
</div>

<div style='margin:0px 20px 0px 20px;color: #68D2E8'>
    <h1 class='text-center py-3' style="color: #153448;font-size: 40px;font-variant: petite-caps;background-color: #68D2E8;border-radius: 20px 20px 0px 0px;margin-bottom:0px"><b><i>Deep Learning</i></b></h1>
    <div class="row py-3" style='background-color: #68D2E8;border-radius: 0px 0px 10px 10px;margin-left:1px;margin-right:1px'>
        <div class="col">
            <img src="../static/nlp.png" class="img-fluid rounded mx-auto d-block" alt="...">
        </div>
        <div class="col">
            <p class="text-left" style='font-size:17px;color:#153448 ;text-align: justify;'>
                Deep learning is a subset of machine learning, which in turn is a subset of artificial intelligence (AI). It involves the use of artificial neural networks to process and learn from large volumes of data. Unlike traditional machine learning algorithms, which require manual feature extraction, deep learning models are capable of automatically learning hierarchical representations of data directly from raw inputs.

At the heart of deep learning are neural networks with multiple layers (hence the term "deep"). These networks consist of interconnected nodes, known as neurons, organized into layers. Each layer performs a specific type of computation, with the output of one layer serving as the input to the next. The first layer receives raw input data, such as images, text, or sound waves, while subsequent layers extract increasingly abstract features from the input.
            </p>
        </div>
    </div>
</div>

<div class="wave-border top" style="background-color: #68D2E8;height: 270px; margin-top: -1px; margin-bottom: -1px; padding-top: 0; padding-bottom: 0;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <!-- Path for the wave -->
      <path d="M0,49.98 C150,-50 350,150 500,49.98 L500,150 L0,150 Z" style="stroke: none; fill: black;"></path>
      
      <!-- Text element -->
      <text x="5%" y="60%" dominant-baseline="middle" fill="white" style="font-size: 6px; ">Mohammed Aftab © 2024
        <tspan x="5%" dy="1.2em"></tspan>
        <tspan x="5%" dy="1.2em">Syed Tajamul, MJCET</tspan>

      </text>
    </svg>
  </div>
  

  
  
  
      
    </main>

    <script src="https://cdn.botpress.cloud/webchat/v2/inject.js"></script>
<script src="https://mediafiles.botpress.cloud/6f875e75-3b3a-43eb-a04c-ac442ab073af/webchat/v2/config.js"></script>

<script>
    const text = "HealthPoint";
    let index = 0;
    const speed = 150; // Adjust the speed of typing animation here

    function typeWriter() {
        if (index < text.length) {
            document.getElementById("welcome-text").innerHTML += text.charAt(index);
            index++;
            setTimeout(typeWriter, speed);
        } else {
            setInterval(blinkCursor, 500); // Start blinking cursor after typing
        }
    }

    function blinkCursor() {
        const cursor = document.getElementById("cursor");
        cursor.style.visibility = cursor.style.visibility === "hidden" ? "visible" : "hidden";
    }

    typeWriter();
</script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>



</body>

</html>